.container {
  max-width: 1000px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3));
 background-color: #714ed1;
 display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 2%;
}

.portfolioInfo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
}
.contentWrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 600px;
  margin: auto;

}

.title {
  color: white;
  margin-bottom: 20px;
}

.image {
  width: 300px;
  border-radius: 10px;
}

@media (max-width: 768px) {
.image {
  width: 290px;

}

.contentWrapper {
padding: 0px;
}
}