/* Estilos generales para el navbar */
.navbar {
  background-color: #1e1e1e; /* Similar al fondo de un editor de código */
  color: #fff;
  padding: 15px 30px;
  border-bottom: 3px solid #61dafb; /* Línea inferior que recuerda al cursor de una terminal */
}

.navbarTitle {
  font-family: 'Courier New', Courier, monospace; /* Estilo de código */
  font-size: 18px;
  display: flex;
  align-items: center;
  color: #61dafb; /* Azul típico de los entornos de desarrollo modernos */
}

.codeSnippet {
  color: #34eb83; /* Verde típico de consolas */
  margin: 10px;
}

.name {
  margin-left: 10px;
  font-weight: bold;
  color: #f39c12; /* Color destacado para tu nombre */
}

.navbarInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbarDiv {
  display: flex;
  flex-direction: column;
}

/* Estilo para los enlaces del navbar */
.navLinks {
  display: flex;
  list-style: none; /* Sin viñetas */
  margin: 0;
  padding: 0;
}

.navLinks li {
  margin: 0 20px;
}

.navLinks a {
  position: relative;
  color: #61dafb;
  font-family: 'Courier New', Courier, monospace; /* Letra de consola */
  text-decoration: none;
  font-size: 16px;
  padding: 10px 20px;
  border: 1px solid transparent; /* Efecto de borde solo al hover */
  transition: all 0.3s ease-in-out;
}

.navLinks a:hover {
  border-color: #61dafb;
  background-color: #282c34; /* Fondo similar a un IDE */
  color: #34eb83; /* Cambia a verde consola */
  box-shadow: 0px 0px 10px rgba(97, 218, 251, 0.7); /* Sombra sutil azul */
}

.navLinks a::before {
  content: "< ";
  color: #34eb83; /* Parte de efecto código, abrir etiqueta */
  transition: color 0.3s ease-in-out;
}

.navLinks a::after {
  content: " />";
  color: #34eb83; /* Parte de efecto código, cerrar etiqueta */
  transition: color 0.3s ease-in-out;
}

.navLinks a:hover::before,
.navLinks a:hover::after {
  color: #61dafb; /* Cambia el color del efecto de código al hover */
}

/* Estilos responsivos para pantallas pequeñas */
@media (max-width: 768px) {
.navbarInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

  .navbarTitle {
    font-size: 11px; /* Ajuste de tamaño para pantallas pequeñas */
  }

  .navLinks {
    flex-direction: column;
    align-items: center;
  }
  
  .navLinks li {
    margin: 10px 0;
  }

  .navLinks a {
    font-size: 8px;
  }
}
