.navbar {
  background-color: #1e1e1e;
  color: #fff;
  padding: 15px 30px;
  border-bottom: 3px solid #61dafb; 
}

.navbarTitle {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: #61dafb;
}

.codeSnippet {
  color: #34eb83;
  margin: 10px;
}

.name {
  margin-left: 10px;
  font-weight: bold;
  color: #f39c12;
}

.navbarInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbarDiv {
  display: flex;
  flex-direction: column;
}

.navLinks {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navLinks li {
  margin: 0 20px;
}

.navLinks a {
  position: relative;
  color: #61dafb;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 20px;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}

.navLinks a:hover {
  border-color: #61dafb;
  background-color: #282c34;
  color: #34eb83;
  box-shadow: 0px 0px 10px rgba(97, 218, 251, 0.7);
}

.navLinks a::before {
  content: "< ";
  color: #34eb83;
  transition: color 0.3s ease-in-out;
}

.navLinks a::after {
  content: " />";
  color: #34eb83;
  transition: color 0.3s ease-in-out;
}

.navLinks a:hover::before,
.navLinks a:hover::after {
  color: #61dafb;
}

@media (max-width: 768px) {
.navbarInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

  .navbarTitle {
    font-size: 11px;
  }

  .navLinks {
    flex-direction: column;
    align-items: center;
  }
  
  .navLinks li {
    margin: 10px 0;
  }

  .navLinks a {
    font-size: 10px;
  }
}
