.sectionProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.profileImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.dataAndDescription {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}

.data {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.description {
  max-width: 500px;
}

.aboutSection {
  display: flex;
  justify-content: center;
  width: 100%;
  /* margin-bottom: 20px; */
}

.sobreMi, .formacion {
  width: 45%;
}

.formacion {
  display: flex;
  flex-direction: column;
}

.contactContainer {
  display: flex;
  justify-content:flex-end;
  gap: 20px;
}

.downloadCV {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}



/* Responsive Design */
@media (max-width: 768px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }

  .dataAndDescription {
    flex-direction: column;
    align-items: center;
  }

  .aboutSection {
    flex-direction: column;
    align-items: center;
  }
}
